.profile__edit {
    position: absolute;
    top: 19px;
    right: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: black;
    background-image: url(../../../images/edit.svg);  
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 10px 10px; 
    transition: opacity 0.3s linear;        
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 685px) {
    .profile__edit {
        top: 12px;
        right: 13px;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;   
    }
}
