.photo__item {
    position: relative; 
    max-width: 282px;
    height: 362px;
    background-color: white;
    margin-right: 18px;
    margin-bottom: 21px;
    border-radius: 10px;
    padding: 0;
}

.photo__item:nth-of-type(3n+0) {
    margin-right: 0px;
}

@media screen and (max-width: 1279px) {
    .photo__item:nth-of-type(3n+0) {
        margin-right: 21px;  
    }

    .photo__item:nth-of-type(2n+0) {
        margin-right: 0;  
    }
}

@media screen and (max-width: 1024px) {
    .photo__item:nth-of-type(3n+0) {
        margin-right: 21px;  
    }

    .photo__item:nth-of-type(2n+0) {
        margin-right: 0;  
    }
}

@media screen and (max-width: 685px) {
    .photo__item {
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
    }

    .photo__item:nth-of-type(3n+0) {
        margin-right: 0px;
    }
}