.photo__like {
    background-image: url(../../../images/like.svg);
    height: 18.13px;
    width: 21px;
    margin-right: 2px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: opacity 0.3s linear;     
  
}

.photo__like:hover {
    opacity: 0.6;
}

.photo__like_active {
    background-image: url(../../../images/like-active.svg);
}
