.profile__add {
    grid-area: add;
    width: 100%;
    padding-top: 33.33%;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: black;
    background-image: url(../../../images/add.svg);  
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 22px 22px;
    transition: opacity 0.3s linear;   
}

.profile__add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 685px) {
    .profile__add {
        width: 282px;
        height: 50px;
        padding-top: 0;
        background-size: 16px 16px; 
    }
}