.form__text {
    margin: 34px 64px 54px 36px;
    width: 330px;
    height: 23px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 685px) {
    .form__text {
        margin: 30px 34px 36px 20px;
        font-size: 18px;
        line-height: 22px;
    }
}

