.photo__container {
    width: 882px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .photo__container {
        width: 585px;
    }
}

@media screen and (max-width: 685px) {
    .photo__container {
        max-width: 282px;
    }
}