@import url(./__container/photo__container.css);
@import url(./__image/photo__image.css);
@import url(./__item/photo__item.css);
@import url(./__like/photo__like.css);
@import url(./__name/photo__name.css);
@import url(./__text/photo__text.css);
@import url(./__remove/photo__remove.css);


.photo {
    padding: 51px 199px 0 199px;
}

@media screen and (max-width: 1279px) {
    .photo {
        padding-left: 99px;
        padding-right: 99px;
    }
}

@media screen and (max-width: 1024px) {
    .photo {
        padding-left: 49px;
        padding-right: 49px;
    }
}

@media screen and (max-width: 685px) {
    .photo {
        padding: 36px 19px 0 19px;
    }
}