.photo__remove {
    background-image: url(../../../images/remove.svg);
    position: absolute;
    background-color: transparent;
    top: 19px;
    right: 15px;
    width: 18px;
    height: 20px;
    border: none;
    transition: opacity 0.3s linear;   
}

.photo__remove:hover {
    opacity: 0.6;
}