.form__input_type_error {
    border-bottom: 1px solid #FF0000;
    margin: 0 36px 0 36px;
}


@media screen and (max-width: 685px) {
    .form__input_type_error {
        margin: 0 20px 0 20px;
    }
}
