.form__save {
    width: 358px;
    height: 50.15px;
    padding: 0;
    background: #000000;
    border-radius: 2px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 18px 36px 36px 36px;
    border: none;
    transition: opacity 0.3s linear;        
}

.form__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 685px) {
    .form__save {
        width: 200px;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
        margin: 16px 20px 30px 20px;    
    }
}