@import url(./__input/form__input.css);
@import url(./__save/form__save.css);
@import url(./__text/form__text.css);
@import url(./__error/form__error.css);
@import url(./__input/_type/form__input_type_error.css);
@import url(./__save/_disabled/form__save_disabled.css);


.form {
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    width: 430px;
    min-height: 330px;
    display: flex; 
    flex-direction: column;
}

@media screen and (max-width: 685px) {
    .form {
        width: 240px;
        min-height: 258px;
    }
}

