.form__error {
    max-width: 358px;
    margin: 5px 36px 13px 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}

@media screen and (max-width: 685px) {
    .form__error {
        margin: 5px 20px 13px 20px;
    }
}
